body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(38, 27, 4);
    color: rgb(241, 238, 233);
    text-align: left;
    
}
.glavna {
    width: 100%;
}

.tekst {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}



#galerija {
    display: flex;
}
.slika {
width: 33%;
}

h1, h4 {
    text-align: center;
}

a {
    color: antiquewhite;
}

@media all and (max-width: 768px){
    #galerija {
        flex-direction: column;
        align-items: center;
    }
}